1000 :-------------------------------
1010 : ファイルの内容を表示
1020 :   この例では自分自身を表示
1030 :-------------------------------
1040 {=&    : ファイル格納領域の先頭を指定
1050 )="dispfile.vtl"     : ファイルの読み込み
1060 I={,}                : 読み込んだファイル全体
1070   ;=I(0)>=$20 $=I(0) : 表示可能文字に限定して表示
1080   ;=I(0)=$0A /       : 改行を表示
1090 @=I+1                : 次の1バイト
1100 #=-1                 : 終了
