#!/usr/loca/bin/rvtl
100 :---------------------------
110 : 小文字を大文字に変換
120 : rvtl filter.vtl < file
130 :  or
140 : ./filter.vtl < file > file2
150 :---------------------------
160 A=$  : 標準入力から1文字読み込み
170 ;=(A>='a')*(A<='z') A=A-'a'+'A'
180 $=A  : 標準出力に1文字書き出し
190 ;=A<>0 #=160 : 0以外繰り返し
200 #=-1
#=1
~
