1000 : -------------------------------------------------------------------------
1010 : Mini Tennis Game
1020 : -------------------------------------------------------------------------
1030     A=.  B=A&$FFFF A=A>>16
1040     a=1,B / @=a+1
1050     y=2,B-3 x=2 !=^LOCATE "*" x=A-1 !=^LOCATE "*" @=y+1
1060     x=2,A-1 y=1 !=^LOCATE "*" y=B-2 !=^LOCATE "*" @=x+1
1070     x=3 y=B-1 !=^LOCATE "( z = Move Left, x = Move Right, s = Start )"
1080     X=A/2 Y=3 m=1 n=-1 S=A/2-3 T=B-5 A=A-2 B=B-3 V=8000
1090 :
1100 : -------------------------------------------------------------------------
1110 : Main Routine
1120 : -------------------------------------------------------------------------
1125     @ K=@ @=((K='S')+(K='s'))
1130     F=0
1140     @
1150         K=@
1200         I=I+1 J=I/10 J=% ;=(J=0) I=0 V=V-1 !=^MOVEBALL
1210         !=^MOVEBOARD
1870         x=1 y=1 !=^LOCATE
1880         ;=(Y=B) !=^GAMEOVER
1890         _=V
1900     @=(F=1)
1910     x=1 y=B+3 !=^LOCATE /
1940 :
1950 : -------------------------------------------------------------------------
1960 : End
1970 : -------------------------------------------------------------------------
1980     #=-1
1990 :
2000 : -------------------------------------------------------------------------
2010 : Move Ball
2020 : -------------------------------------------------------------------------
2030 ^MOVEBALL
2040     x=X y=Y !=^LOCATE " "
2050     ;=(X=3)+(X=A) m=-m
2060     ;=(Y=2) n=-n
2070     t=T-1 s=S+5 ;=(Y=t)*(S<=X)*(s>=X) n=-n
2080     X=X+m Y=Y+n
2090     x=X y=Y !=^LOCATE "@"
2180     ]
2190 :
2200 : -------------------------------------------------------------------------
2210 : Move Board
2220 : -------------------------------------------------------------------------
2230 ^MOVEBOARD
2240     ;=((K='z')+(K='Z'))*(S=3) ]
2250     a=A-6 ;=((K='x')+(K='X'))*(S=a) ]
2260     ;=(K='z')+(K='Z') x=S+5 y=T !=^LOCATE "  " S=S-2
2270     ;=(K='x')+(K='X') x=S y=T !=^LOCATE "  " S=S+2
2280     x=S y=T !=^LOCATE "======"
2290     ]
2390 :
2400 : -------------------------------------------------------------------------
2410 : Game Over
2420 : -------------------------------------------------------------------------
2430 ^GAMEOVER
2440     x=A/2-8 y=B/2 !=^LOCATE "Game Over (q:Quit)"
2450     x=1 y=1 !=^LOCATE
2460     @ K=@ @=((K='q')+(K='Q')) F=1
2480     ]
2990 :
3000 : -------------------------------------------------------------------------
3010 : Locate Cursor position (x,y:position)
3020 : -------------------------------------------------------------------------
3030 ^LOCATE
3040     $=27 "[" ?=y ";" ?=x "H"
3050     ]
3060 : -------------------------------------------------------------------------


