1 :-----------------------------------------
2 : 時間を測定するプログラムにマージして実行
3 :   #=-1 の前に !=^STOP を置く事
4 :-----------------------------------------
5     !=^START #=-1
99000 :----------------------------------
99010 ^START
99020     T=_  ?=T "." U=% ?=U / +TU
99030     ]
99040 ^STOP
99050     -UT X=_ ?=X "." Y=% ?=Y /
99060     D=X-T F=Y-U
99070     ;=(F<0) D=D-1 F=F+1000000
99080     "  time:" ?=D "." ?[6]=F "sec" /
99090     ]
99100 :----------------------------------
